


<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: black;
  color: white;
}

li a:hover:not(.active) {
  background-color: black;
  color: white;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-left: 650px;

  margin-top: 100px;
}

.title {
  color: grey;
  font-size: 18px;
}

    body {
  font-family: Arial;
  margin: 0;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.header {
  padding: 5px;
  padding-left: 300px;

  text-align: center;
  background: black;
  color: white;
  font-size: 20px;
}
    </style>
    </head>
    
    
    <body>
      <ul>
        <li><a href="/">Home</a></li>
        <li> <a href="/events/new">Create a Event</a></li>
        <li>    <a href="/privateevents/new">Create a Private Event</a></li>
        <li>    <a href="/events">View All Events</a> </li>
      </ul>
      <div class="header">
        <p>My Events</p>

      </div>
    
    
    
    
    <% userFound.events.forEach(function(event){ %>
      <div class="card">
        <h4>Created by :<%= event.owner %> </h4>
      <img src="<%= event.image %>" alt="Event Image" style="width:100%">
        <h1><b><%= event.event %></b></h1> 
        <p class="title">Date:<%= event.date %></p>
        <p class="title">Time:<%= event.time %></p>
        <p class="title">Venue:<%= event.venue %></p>
        <p class="title">Details:<%= event.info %></p>
        
    </div>
      <% }) %>
    
      
    
    
  
    
    
    </body>
    </html> 
    